$creamy-light: #F9F3EE;
$creamy: #EFE1D3;
$creamy-dark: #CFC1B3;

$blue-dark: #123055;
$blue-extra-light: #6991C2;
$blue-light: #395F8D;

$orange: #D38455;
$red-error: #CF625B;

$green-light: #71A8AF;

$gray-dark: #212121;

