$border-radius: 5px;
$checkbox-size: 20px;
$font-size-label: 16px;
$font-size-icon: 14px;

.el-checkbox__inner {
  border: 1px solid colors.$creamy-dark;
  border-radius: $border-radius;
  width: $checkbox-size;
  height: $checkbox-size;
  
  &::after {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 3px);
    left: 0;
    font-family: 'Wheels';
    font-size: $font-size-icon;
    content: '\e91f';
    color: colors.$blue-light;
  }

  &:hover {
    border-color: colors.$creamy-dark;
  }
}

.el-checkbox__label {
  padding-left: 15px;
  font-size: $font-size-label;
  color: colors.$gray-dark;
  font-weight: 400;
}

.el-checkbox__input {
  &.is-checked {
    + .el-checkbox__label {
      color: colors.$gray-dark;
    }

    .el-checkbox__inner {
      border: 2px solid colors.$blue-light;
      background-color: colors.$creamy-light;

      &::after {
        transform: scaleY(1);
        border: none;
      }
    }
  }

  &.is-disabled {
    .el-checkbox__inner {
      background-color: colors.$creamy-light;
      border-color: colors.$creamy;
    }

    &.is-checked .el-checkbox__inner {
      background-color: colors.$creamy-light;
      border-color: colors.$creamy;

      &::after {
        color: colors.$creamy;
      }
    }
  }
}
