
@use "../variables/colors";
@use "../variables/sizes";

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $common-component-size: (
    'default': sizes.$xl,
  ),
  $colors: (
    'primary': (
      'base': colors.$orange,
    ),
    'secondary': (
      'base': colors.$blue,
    ),
    'success': (
      'base': colors.$green-light,
    ),
    'error': (
      'base': colors.$red-error,
    ),
    'info': (
      'base': colors.$blue-extra-light,
    )
  ),
  $button-padding-horizontal: (
    'default': sizes.$lg,
  ),
  $slider: (
    'main-bg-color': colors.$orange,
    'runway-bg-color': colors.$creamy-dark,
    'stop-bg-color': colors.$creamy-dark,
  ),
  $checkbox: (
    'bg-color': colors.$creamy-light,
  ),
  $link: (
    'font-size': sizes.$base,
    'font-weight': 400,
    'text-color': colors.$blue,
    'hover-text-color': colors.$blue-light,
    'disabled-text-color': colors.$blue-extra-light,
  ),
  $input: (
    'text-color': colors.$gray-dark,
    'bg-color': colors.$creamy-light,
    'border-color': colors.$creamy-dark,
    'placeholder-color': colors.$gravel,
    'icon-color': colors.$blue-light,
    'border-radius': sizes.$xs,
  ),
  $select: (
    'font-size': sizes.$s,
    'input-color': colors.$creamy-dark,
    'border-color-hover': colors.$creamy-dark,
  ),
  $select-option: (
    'text-color': colors.$black,
    'selected-text-color': colors.$black,
  ),

);

@use "element-plus/theme-chalk/src/base";
@use "element-plus/theme-chalk/src/button";
@use "element-plus/theme-chalk/src/link";
@use "element-plus/theme-chalk/src/badge";
@use "element-plus/theme-chalk/src/message";
@use "element-plus/theme-chalk/src/select";
@use "element-plus/theme-chalk/src/image";
@use "element-plus/theme-chalk/src/slider";
@use "element-plus/theme-chalk/src/input";
@use "element-plus/theme-chalk/src/carousel";
@use "element-plus/theme-chalk/src/carousel-item";
@use "element-plus/theme-chalk/src/option";
@use "element-plus/theme-chalk/src/popper";
@use "element-plus/theme-chalk/src/tabs";
@use "element-plus/theme-chalk/src/tab-pane";
@use "element-plus/theme-chalk/src/loading";
@use "element-plus/theme-chalk/src/form";
@use "element-plus/theme-chalk/src/form-item";
@use "element-plus/theme-chalk/src/card";
@use "element-plus/theme-chalk/src/table";
@use "element-plus/theme-chalk/src/switch";
@use "element-plus/theme-chalk/src/collapse";
@use "element-plus/theme-chalk/src/collapse-item";
@use "element-plus/theme-chalk/src/pagination";
@use "element-plus/theme-chalk/src/checkbox";
@use "element-plus/theme-chalk/src/checkbox-group";
@use "element-plus/theme-chalk/src/skeleton";
@use "element-plus/theme-chalk/src/skeleton-item";
@use "element-plus/theme-chalk/src/dialog";
@use "element-plus/theme-chalk/src/checkbox-button";
@use "element-plus/theme-chalk/src/radio";
@use "element-plus/theme-chalk/src/radio-button";

@import "./button.scss";
@import "./slider.scss";
@import "./input.scss";
@import "./select.scss";
@import "./link.scss";
@import "./collapse.scss";
@import "./pagination.scss";
@import "./checkbox.scss";
@import "./checkbox-button.scss";
@import "./radio.scss";
@import "./radio-button.scss";


