.h1 {
  font-family: 'Unbounded', sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.h2 {
  font-family: 'Unbounded', sans-serif;
  font-weight: bold;
  font-size: 32px;
}

.h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.button-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.body-1 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.body2-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.body-2 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.secondary-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.secondary-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.secondary {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.secondary-small {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 12px;
}

.font-inherit {
  font-size: inherit;
  font-weight: inherit;
}
